body{
 border: 10px solid rgb(236, 236, 236);
 border-radius: 20px;
 text-align: center;  
 width: 700px;
 height: 740px;
 margin:auto;
 color: rgb(62, 62, 99);
 font-family: source sans 3;

}
.top{
    background-image: url(fourbackground.jpg);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 150px;
    height: 60px;
    margin-bottom: 0%; 
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
}
.second{
    display: flex;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 0%;
    
}
.img{
    width: 100px;
    border-radius: 50%;
    margin-top: 0%;
}
.guide{
    display: flex;
    justify-content: space-around;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(117, 206, 233);
    border-bottom: 4px solid rgba(12, 29, 61, 0.76);
    font-family: inherit;
    border-radius: 5px;
}
.sec{
    background-color: rgb(199, 252, 202);
    margin-top: 0%;
    padding-top: 5px;
    
}
#visit{
 border: none;
 border-radius: 4px;
    background-color: rgb(6, 148, 101);
    width:200px;
    margin-left: auto;
    margin-right: auto;    
    color: antiquewhite;
    margin-bottom: 0%;
    font-family: inherit;
}
#line{
    /* border: 2px solid rgb(115, 115, 182); */
    background-color: rgb(45, 83, 109); 
    width:450px;  
    margin-left: auto;
    margin-right: auto;
    color: antiquewhite;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: inherit;
}
.gap{
    padding-left: 10px;
    padding-right: 10px;
}
.guideimage{
    width: 100px;
    padding-top: 10px;
}